
<div class="col-xs-3 col-md-offset-1 ">
  <table class ="table-striped text-center h1">
    <tr>
      <td>userID</td>
      <td><%= session[:userID] %></td>
    </tr>
    <tr>
      <td>userName</td>
      <td><%= session[:userName]%></td>
    </tr>
  </table>
</div>
