
<div class="col-xs-3 col-md-offset-1 top_adjust">
  <div class="panel panel-default">
  <table class="table table-bordered h1">
    <tr>
      <td>userID</td>
      <td><%= session[:userID] %></td>
    </tr>
    <tr>
      <td>userName</td>
      <td><%= session[:userName]%></td>
    </tr>
  </table>
  </div>
</div>

<div class="col-xs-8">
  <%= %>
  <!-- 上に表示するスクリプト -->
</div>
