<%if !session[:userID].empty? && !session[:userName].empty? then %>
  <script>
    window.location.href = "/";
  </script>
<% end %>

<div class="container top_adjust">
  <div class="col-xs-8 col-md-offset-2">
    <h1 class="text-center">会員登録</h1>
    <form action="/newmember" method="post">
        <div class="form-group-lg">
          <label class="h2">userName</label>
            <input type="text" name="userName" class="form-control">
          <label class="h2">  userID</label>
            <input type="text" name="userID" class="form-control">
        </div>
        <div class="form-group-lg">
          <label class="h2"> password</label>
          <input type="password" name="password" class="form-control"placeholder="passwordは形だけ">
        </div>
      <div class="btn-toolbar">
          <button class="btn btn-default"name ="login">create</button>
    </form>
      </div>
  </div>
  <!-- <div class="col-xs-2"></div> -->
</div>
<script>
 $(function(){
  $('#registration').on("click",function(){ location.href="/registration";});
});
</script>
